@page "/createkey"
@inject IAppUserManager UserManager
@using global::GetChain.Core.User
@model CreateApiKeyModel

@{
    ViewData["Title"] = "Dashboard";
    
    var user = await UserManager.GetSafeUserByIdAsync(this.User.GetUniqueId());
}

<div class="w-50 m-auto">
    <h1 class="text-center display-4">Generate an API key</h1>

    <form method="post" id="loginField" class="p-5" autocomplete="off">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label for="keyName" class="col-xs-2 control-label">Project Name</label>
            <input type="text" asp-for="CreateKeyForm.ApiKeyName" id="keyName" class="form-control mb-4" placeholder="Enter project name here">
        </div>
        
        Expires: <input class="form-control" asp-for="CreateKeyForm.Expiry"  asp-format="{0:yyyy-MM-ddTHH:mm}" />

        <button class="btn btn-primary btn-block my-4 debounce" type="submit" id="recaptcha">Create key</button>
        @Html.AntiForgeryToken()
    </form>

</div>