@page
@* @model DonateModel *@

<div class="text-center">
    <h2 class="mt-2">Donations keep this service running</h2>
    <p class="font-weight-light">By donating, we are able to keep our free service up and running. We do offer any paid services.</p>
</div>

<h4 class="mb-3">How to donate</h4>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Ethereum</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Binance Coin</a>
        </div>
    </nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="d-flex bg-white">
            <img src='https://chart.googleapis.com/chart?cht=qr&chl=ethereum%3A0x59784ccC71205eF6A292F973e44f46CdC1f58306%3Famount%3D&chs=180x180&choe=UTF-8&chld=L|2' alt="">
            <div class="p-4">
                <h4>Ethereum</h4>
                <p>Alternatively, you can copy this address: <strong>0x59784ccC71205eF6A292F973e44f46CdC1f58306</strong></p>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="bg-white">
            <div class="p-4">
                <h4>Binance Coin (BEP20)</h4>
                <p>Address: <strong>0x59784ccC71205eF6A292F973e44f46CdC1f58306</strong></p>
            </div>
        </div>
    </div>
</div>