@page
@model IndexModel
@{
    ViewData["Title"] = string.Empty;

    Layout = null;
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    @await Html.PartialAsync("Partials/_TopIncludes")
    <title>.</title>
</head>

<body>

@await Html.PartialAsync("Partials/_Navbar")

<div class="w-100" style="background-color:#0047FF; min-height: 500px; opacity: 77%; color: white">
    <div class="w-50 m-auto text-center" style="padding-top: 150px">
        <h2 class="font-weight-bold">Bringing blockchains together</h2>
            
        <p class="lead mb-5">Access API endpoints across multiple blockchains such as Binance Smart Chain, Ethereum Network and many more!</p>
        
        <a href="/signup"><button class="btn btn-light font-weight-bold" style="color:#0047ff; padding: 11px 35px">Get Started</button></a>
        <a href="#howitworks"><button class="btn btn-outline-light font-weight-bold" style="color:#ffffff; padding: 11px 35px">Learn more</button></a>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="position-absolute bg-transparent text-center overflow-hidden">
    <path fill="#3b71ff" fill-opacity="1" d="M0,0L40,32C80,64,160,128,240,154.7C320,181,400,171,480,154.7C560,139,640,117,720,117.3C800,117,880,139,960,154.7C1040,171,1120,181,1200,197.3C1280,213,1360,235,1400,245.3L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
</svg>

<div class="w-100">
    @* <div class="text-center py-5" style="box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);"> $1$inset 0 -4px 4px rgba(0, 0, 0, 0.25), #1# *@
    @*     <img src="https://www.peacockcoin.finance/assets/images/binance-smart.png" width="200px" style="margin: 20px;" alt=""/> *@
    @*     <img src="https://www.drupal.org/files/styles/grid-3-2x/public/project-images/ETHEREUM-LOGO_PORTRAIT_Black_small.png?itok=E8Qrv5WR" width="200px" style="margin: 20px" alt=""/> *@
    @* </div> *@
    
    <div class="w-75 m-auto">
        <h2 id="howitworks" class="text-center mt-5 mb-4">
            How does it work?
        </h2>
        
        <div class="row justify-content-around text-center">
            <div class="col-sm-3 my-1 bg-white rounded shadow-sm p-3">
                <img height="96" src="assets/signupaccount.png"/>
                <p>
                    <strong>
                        1. Sign up for an account
                    </strong> <br/>
        
                    By creating an account you will have the ability to create an API key.
                </p>
            </div>
            <div class="col-sm-3 my-1 bg-white rounded shadow-sm p-3">
                <img height="96" src="assets/getapikey.png"/>
                <p>
                    <strong>
                        2. Create an API key
                    </strong> <br/>

                    This will authenticate you as a user of GetChain.
                </p>
            </div>
            <div class="col-sm-3 my-1 bg-white rounded shadow-sm p-3">
                <img height="96" src="assets/integrateproject.png"/>
                <p>
                    <strong>
                        3. Integrate GetChain into your application
                    </strong> <br/>
                            
                    Utilise our Web API to pull data from multiple blockchains, straight into your application. <span class="font-weight-light"><a asp-page="Dashboard">Learn more</a></span>
                </p>
            </div>
        </div>
        
        <h2 class="text-center mt-5 mb-4">
            Why GetChain
        </h2>
            
        <p class="font-weight-light m-auto text-center" style="max-width: 912px;">
            Blockchain data is spread across multiple providers, making access to some of this data teidious. GetChain solves this by providing realtime data under a single domain. All you need is 1 API key.
        </p>
    </div>
</div>

<div class="w-100" style="margin-bottom: 200px !important;">
    <div class="w-75 m-auto">
        <h2 class="text-center mt-5 mb-4">
            Examples
        </h2>
        
        <p class="font-weight-light m-auto text-center" style="max-width: 912px;">
            Accessing GetChain endpoints from your desired language is easy!
        </p>

        <div class="m-auto w-75">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">C#</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">JavaScript</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Curl</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <pre class="sunlight-highlight-csharp">
var httpClient = new HttpClient();
httpClient.DefaultRequestHeaders.Add("Authorization", "&lt;your api key&gt;");

var json = await httpClient.GetStringAsync("");
// Generic type 'T' is provided by the user, and matches the schema provided by GetChain API response.
var response = JsonConvert.SerializeObject&lt;T&gt;(json);
                    </pre>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <pre class="sunlight-highlight-csharp">
function x() { return y; }
                    </pre>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 200px"></div>

@await Html.PartialAsync("Partials/_Footer")
@await Html.PartialAsync("Partials/_BottomIncludes")

</body>
</html>
