@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    Layout = null;
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    @await Html.PartialAsync("Partials/_TopIncludes")
    <title>.</title>
</head>

<body>

@await Html.PartialAsync("Partials/_Navbar")

<div class="w-100" style="background-color:#0047FF; height: 500px; opacity: 77%; color: white">
    <div class="w-50 m-auto text-center" style="padding-top: 150px">
        <h2 class="font-weight-bold">Bringing together your portfolio</h2>
            
        <p class="lead mb-5">Track your tokens on the Binance Smart Chain, Ethereum Network any many more with this easy-to-use website!</p>
        
        <a href="/signup"><button class="btn btn-light font-weight-bold" style="color:#0047FF; padding: 11px 35px">Get Started</button></a>
    </div>
</div>

<div class="w-100">
    <div class="text-center py-5" style="box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);"> @*inset 0 -4px 4px rgba(0, 0, 0, 0.25), *@
        <img src="https://www.peacockcoin.finance/assets/images/binance-smart.png" width="200px" style="margin: 20px;" alt=""/>
        <img src="https://www.drupal.org/files/styles/grid-3-2x/public/project-images/ETHEREUM-LOGO_PORTRAIT_Black_small.png?itok=E8Qrv5WR" width="200px" style="margin: 20px" alt=""/>
    </div>
</div>

@* <div class="w-100" style="background-color:#0047FF; height: 500px; opacity: 77%; color: white"> *@
@*      *@
@* </div> *@

@await Html.PartialAsync("Partials/_Footer")
@await Html.PartialAsync("Partials/_BottomIncludes")
@{
    //await RenderSectionAsync("Scripts", required: false)
}

</body>
</html>
