@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container bg-white my-5 rounded" style="width: 500px; padding: 30px 50px;">
    <h2 class="text-center font-weight-lighter" style="margin-bottom: 30px">
        Sign in
    </h2>

    <form method="post" id="loginField">
        <div asp-validation-summary="All" class="text-danger"></div>
            
        <input type="text" name="username" asp-for="LoginForm.Username" id="username" class="form-control mb-4" placeholder="Username">
        <input type="password" autocomplete="on" name="password" asp-for="LoginForm.Password" id="password" class="form-control mb-4" placeholder="Password">
        
        <div class="d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Keep me signed in on this device</label>
            </div>
            <div>
                <a asp-page="ForgotPassword">Forgot password?</a>
            </div>
        </div>
        
        <button class="btn btn-primary btn-block my-4 debounce" type="submit" id="recaptcha">Log in</button>
        @* @Html.AntiForgeryToken() *@
    </form>
    
    <p class="font-weight-light">Dont have an account? <a asp-page="Signup">Sign up for free!</a></p>
</div>