@page
@model PasswordResetModel

@{
    var email = Request.Query["email"];
    var token = Request.Query["token"]; 
}

<div class="container bg-white my-5 rounded" style="width: 500px; padding: 30px 50px;">
    <h2 class="text-center font-weight-lighter" style="margin-bottom: 30px">
        Change password
    </h2>

    <form method="post" id="passwordResetField">
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <input class="form-control mb-4" type="text" name="email" value="@(email)" readonly>
        <input class="invisible position-absolute" type="text" name="token" value="@(token)" readonly>
        <input class="form-control mb-4" type="password" name="password" placeholder="New Password">

        <button class="btn btn-primary btn-block my-4 debounce" type="submit" id="recaptcha">Change password</button>
        @Html.AntiForgeryToken()
    </form>
</div>