# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GetChain.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\icond\Documents\Coding\.NET Projects\GetChain\.idea\.idea.GetChain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
